# Data included in this repository

This repository contains various data, which can be found in the obj folder.

The data in this repository is stored as .csv or as .pkl files which we open with the following helper scripts:

In [10]:
import pickle
import pandas as pd

def save_obj(obj, name, path = 'obj/'):
    with open(path + name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name, path = 'obj/'):
    with open(path + name + '.pkl', 'rb') as f:
        return pickle.load(f)

The following files are stored in /obj:

In [4]:
!ls obj

MTTCnoucfog.pkl     NASATLX_df.csv      participants.pkl    stored_info.pkl
MTTCnouctun.pkl     fogstamps_final.pkl stampsRain.pkl      vandelaan_df.csv
MTTCuctun.pkl       gaze_df.csv         stampswithttc9.pkl

We look at each individually and give a short explanation of what it contains.

## MTTCnoucfog.pkl, MTTCnouctun.pkl, MTTCuctun.pkl

This is a dataframe containing the MTTC value of each trial, for the noucfog (MC-HU), nouctun (MU-HU) and uctun (MU-HU-uc) experimental conditions. The mean of one participant's values formed the MTTC score used in the statistical comparisons. The first five rows of this dataframe look like:

In [9]:
load_obj('MTTCnoucfog').head()

  participant  noucfog
0        XSMS  2.79964
1        XSMS  2.85026
2        XSMS  3.68373
3        SPPV  3.74172
4        SPPV  3.26643

## NASATLX_df.csv

Raw TLX scores of participants

In [13]:
pd.read_csv('obj/NASATLX_df.csv', index_col = 0)

      id  wl_nouctun  wl_noucfog  wl_noucrain   wl_uctun  wl_ucrain
0   NNTZ   74.166667   42.500000    20.833333  66.666667  23.333333
1   XSMS   61.666667   61.666667    22.500000  58.333333  18.333333
2   ZPQX   65.833333   53.333333    40.000000  51.666667  40.000000
3   TTQW   31.666667   31.666667    14.166667  29.166667  11.666667
4   TWOU   54.166667   55.000000    35.833333  55.000000  39.166667
5   OYWO   70.000000   21.666667    12.500000  51.666667  26.666667
6   SPPV   49.166667   40.833333    33.333333  39.166667  25.000000
7   PVOU   46.666667   39.166667    15.833333  68.333333  30.833333
8   TTVN   77.500000   60.833333     9.166667  60.000000  24.166667
9   WVPV   46.666667   19.166667    10.833333  45.000000  16.666667
10  PVNT   79.166667   40.833333    30.833333  55.833333  35.000000
11  QPMS   45.000000   30.000000    34.166667  43.333333  27.500000
12  UVUM   60.000000   18.333333    14.166667  43.333333  15.000000
13  MVNT   46.666667   39.166667    15.000000  40.000000  14.166667

## fogstamps_final.pkl

Timestamps for foggy scenario's that indicate the start (t_ttp9) and end (t_pass) of trials. These time stamps are used to slice a raw recording into a smaller time fragment that represents the trial. How the ttp9 stamps were obtained can be found in the notebook Preprocessing.ipynb.

The first five entries look as follows:

In [15]:
load_obj('fogstamps_final').head()

  participant      run direction    t90  t_pass         t_ttp9
0        XSMS  noucfog        FL  28730   37200   28160.000000
1        XSMS  noucfog        FR  41560   57140   40300.000000
2        XSMS  noucfog        FL  65890   74880   66020.000000
3        XSMS  noucfog        BL  81380   92100   83000.007812
4        XSMS  noucfog        BR  98150  110010  100033.343750

## gaze_df.csv

See Analysis B.ipynb for an explanation

## participants.pkl

A list of the 14 participant IDs:

In [23]:
load_obj('participants')

['XSMS',
 'SPPV',
 'TTQW',
 'NNTZ',
 'TWOU',
 'MVNT',
 'ZPQX',
 'PVNT',
 'OYWO',
 'PVOU',
 'WVPV',
 'TTVN',
 'QPMS',
 'UVUM']