# Data included in this repository

This repository contains various data, which can be found in the obj folder.

The data in this repository is stored as .csv or as .pkl files which we open with the following helper scripts:

In [10]:
import pickle
import pandas as pd

def save_obj(obj, name, path = 'obj/'):
    with open(path + name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name, path = 'obj/'):
    with open(path + name + '.pkl', 'rb') as f:
        return pickle.load(f)

The following files are stored in /obj:

In [25]:
!ls obj

MTTCnoucfog.pkl         fogstamps_final.pkl     stampsRain.pkl
MTTCnouctun.pkl         gaze_df.csv             stampswithttc9.pkl
MTTCuctun.pkl           gazedfWithDurations.csv stored_info.pkl
NASATLX_df.csv          participants.pkl        vandelaan_df.csv

We look at each individually and give a short explanation of what it contains.

## MTTCnoucfog.pkl, MTTCnouctun.pkl, MTTCuctun.pkl

This is a dataframe containing the MTTC value of each trial, for the noucfog (MC-HU), nouctun (MU-HU) and uctun (MU-HU-uc) experimental conditions. The mean of one participant's values formed the MTTC score used in the statistical comparisons. The first five rows of this dataframe look like:

In [9]:
load_obj('MTTCnoucfog').head()

  participant  noucfog
0        XSMS  2.79964
1        XSMS  2.85026
2        XSMS  3.68373
3        SPPV  3.74172
4        SPPV  3.26643

## NASATLX_df.csv

Raw TLX scores of participants

In [13]:
pd.read_csv('obj/NASATLX_df.csv', index_col = 0)

      id  wl_nouctun  wl_noucfog  wl_noucrain   wl_uctun  wl_ucrain
0   NNTZ   74.166667   42.500000    20.833333  66.666667  23.333333
1   XSMS   61.666667   61.666667    22.500000  58.333333  18.333333
2   ZPQX   65.833333   53.333333    40.000000  51.666667  40.000000
3   TTQW   31.666667   31.666667    14.166667  29.166667  11.666667
4   TWOU   54.166667   55.000000    35.833333  55.000000  39.166667
5   OYWO   70.000000   21.666667    12.500000  51.666667  26.666667
6   SPPV   49.166667   40.833333    33.333333  39.166667  25.000000
7   PVOU   46.666667   39.166667    15.833333  68.333333  30.833333
8   TTVN   77.500000   60.833333     9.166667  60.000000  24.166667
9   WVPV   46.666667   19.166667    10.833333  45.000000  16.666667
10  PVNT   79.166667   40.833333    30.833333  55.833333  35.000000
11  QPMS   45.000000   30.000000    34.166667  43.333333  27.500000
12  UVUM   60.000000   18.333333    14.166667  43.333333  15.000000
13  MVNT   46.666667   39.166667    15.000000  40.000000  14.166667

## fogstamps_final.pkl, stampsRain

Timestamps for foggy and rainy scenario's that indicate the start (t_ttp9) and end (t_pass) of trials. These time stamps are used to slice a raw recording into a smaller time fragment that represents the trial. How the ttp9 stamps were obtained can be found in the notebook Preprocessing.ipynb.

The first five entries of fogstamps_final look as follows:

In [15]:
load_obj('fogstamps_final').head()

  participant      run direction    t90  t_pass         t_ttp9
0        XSMS  noucfog        FL  28730   37200   28160.000000
1        XSMS  noucfog        FR  41560   57140   40300.000000
2        XSMS  noucfog        FL  65890   74880   66020.000000
3        XSMS  noucfog        BL  81380   92100   83000.007812
4        XSMS  noucfog        BR  98150  110010  100033.343750

## stampswithttc9

Older version of timestamps with more meta-info, but no end point of trials (ttp9). Used as a starting point in pre-processing notebook

## gaze_df.csv and gazedfWithDurations.csv

See Analysis B.ipynb

## participants.pkl

A list of the 14 participant IDs:

In [23]:
load_obj('participants')

['XSMS',
 'SPPV',
 'TTQW',
 'NNTZ',
 'TWOU',
 'MVNT',
 'ZPQX',
 'PVNT',
 'OYWO',
 'PVOU',
 'WVPV',
 'TTVN',
 'QPMS',
 'UVUM']

## stored_info
Object with metadata of recording files. Used for loading the correct recording file with the correct experimental run. Only relevant for helper functions that load the recording files from the disk.

## vandelaan_df
Usefulness (ufl) and satisfaction (sat) ratings for the different conditions

In [34]:
pd.read_csv('obj/vandelaan_df.csv', index_col = 0)

,id,noucfog_ufl,noucfog_sat,noucrain_ufl,noucrain_sat,nouctun_ufl,nouctun_sat,ucrain_ufl,ucrain_sat,uctun_ufl,uctun_sat
0,NNTZ,1.8,0.75,0.0,0.00,0.4,0.25,0.2,0.00,1.8,1.25
1,XSMS,0.4,-0.25,-1.4,0.00,-0.4,-0.50,0.0,0.00,0.6,0.50
2,ZPQX,1.2,1.00,-1.2,0.25,-0.4,-0.75,0.6,0.75,1.8,2.00
3,TTQW,1.2,0.50,-0.4,-0.25,-0.8,0.00,-0.6,-0.50,1.4,0.25
4,TWOU,2.0,1.75,-0.6,0.00,1.0,1.00,0.8,0.25,1.6,1.25
5,OYWO,1.2,0.25,0.2,0.50,-1.0,-1.00,-1.2,-1.75,1.0,0.50
6,SPPV,0.8,1.00,-0.2,0.00,-0.2,-0.25,-0.4,1.00,1.0,1.00
7,PVOU,1.4,1.25,0.4,1.00,-1.0,-0.25,-0.2,1.00,1.8,0.75
8,TTVN,2.0,1.50,-1.2,0.00,-0.4,-0.50,1.0,1.00,2.0,1.75
9,WVPV,1.6,0.50,-1.2,0.00,-0.6,-0.75,0.4,0.00,1.4,0.00
10,PVNT,2.0,2.00,0.0,0.00,1.8,0.75,0.6,-1.75,1.8,-0.25
11,QPMS,0.6,0.25,-1.2,-0.50,-1.2,-0.50,0.0,-0.50,0.4,-0.25
12,UVUM,2.0,0.75,-1.6,-0.50,-1.6,-0.50,0.4,0.25,1.6,0.50
13,MVNT,1.6,0.25,-1.2,0.00,0.4,-0.25,0.6,-0.25,1.0,-0.50